<!-- YelpCamp landing page -->

<% include partials/header %>

<h1>Welcome to YelpCamp's Landing Page</h1>

<p>Welcome to YelpCamp</p>

<p>
    <a href="/campgrounds">View all campgrounds</a>
</p>

<% include partials/footer %>
