<!-- YelpCamp show info about a campground -->

<% include partials/header %>

<!-- <h1>This is the show template</h1> -->

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<% include partials/footer %>